<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Airline:</th>
            <th>Airport:</th>
            <th>Flight No:</th>
            <th>Departure Date:</th>
        </tr>
    </thead>
    
    <tbody>
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs %></td>
            </tr>
    </tbody>
    
</table>

<h2>Destinations</h2>

<form id="add-destination-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label><h3>Destination:</h3></label>
        <br>
    <label>Airport:</label>
        <select name="airport">
            <!-- 'MEL', 'SYD', 'SNG', 'LDN', 'PRS', 'LAX', 'Milan', 'Rome', 'Tokyo', 'Hawaii' -->
            <option value="MEL">MEL</option>
            <option value="SYD">SYD</option>
            <option value="SNG">SNG</option>
            <option value="LDN">LDN</option>
            <option value="PRS">PRS</option>
            <option value="LAX">LAX</option>
        </select>
    
    <label>Arrives:</label>
    <input type="datetime-local" name="arrival"  value="">

    <input type="submit" value="Add Destination">

</form>
<br>
    
    <a href="/flights/<%= flight._id %>/tickets/new"><button type="submit">New Ticket</button></a>

<table>
    <thead>
        <h2>Destinations</h2>
        <tr>
            <!-- <th>Destination:</th> -->
            <th>Airport:</th>
            <th>Arrival Date:</th>
        </tr>
    </thead>
    
    <tbody>
        <% if (flight.destinations.length) { %>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
        <% }); %> 
    </tbody>
            
                <% } else { %>
                    <h5>No Recorded Destinations</h5>            
                <% } %>
</table>

<div>Tickets:</div>
<ul>
  <%- ticket.map(t => 
    `<li>${t.seat} <small>${t.price}</small></li>`
  ).join('') %>
</ul>

<%- include('../partials/footer') %>